<a href="https://colab.research.google.com/github/jeffDres/-Machine_learning/blob/main/P1T1_phyton_basicmmmmmm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Description

***

+ @Author: Jeferson Andres Alvarez
+ @Date: 12/02/2022
+ @Description: This notenook python show simple basic exercise in phyton

#Basic Exercise

##Exercise 1: products + IVA

In [ ]:
product1 = int(input("input 1° product"))
product2 = int(input("input 2° product"))
product3 = int(input("input 3° product"))
product4 = int(input("input 4° product"))
product5 = int(input("input 5° product"))
suma = product1 + product2 + product3 + product4 + product5
iva = suma * 0.19
Total = (suma * 1.19)
print("valor neto es : ", suma, "\n IVA : ", iva, "\n Total : ", Total)

input 1° product10
input 2° product10
input 3° product10
input 4° product10
input 5° product10
valor neto es :  50
 IVA :  9.5
 Total :  59.5

###Version Phyton

In [ ]:
pr1, pr2, pr3, pr4, pr5 = input("input 1°, 2°, 3°, 4°, 5° product separate with , : ").split(",")
suma =int(pr1) + int(pr2) + int(pr3) + int(pr4) + int(pr5)
print("valor neto es : ", suma, "\n IVA : ", suma * 0.19, "\n Total : ", suma * 1.19)

input 1°, 2°, 3°, 4°, 5° product separate with , : 1,1,1,1,1
valor neto es :  5
 IVA :  0.95
 Total :  5.949999999999999

##Exercise 2: higher

In [ ]:
num1 = int(input("input 1° num"))
num2 = int(input("input 2° num"))
num3 = int(input("input 3° num"))

if num1 > num2 and num1 > num3:
  print("the largest number is ", num1)
elif num2 > num1 and num2 > num3:
  print("the largest number is ", num2)
else:
  print("the largest number is ", num3)

if num1 < num2 and num1 < num3:
  print("the smallest number is ", num1)
elif num2 < num1 and num2 < num3:
  print("the smallest number is ", num2)
else:
  print("the smallest number is ", num3)

promedio = (num1+num2+num3)/3

print ("the average is ", promedio)

input 1° num1
input 2° num2
input 3° num3
the largest number is  3
the smallest number is  1
the average is  2.0

###Version Phyton

In [ ]:
num1, num2, num3 = input("input num1, num2, num3 separate with , :").split(",")
print("el numero mayor es ", max(int(num1), int(num2), int(num3) ), "\n el numero menor es ", min(int(num1), int(num2), int(num3) ) )
print("el promedio es : ", (int(num1) + int(num2) + int(num3) )/3)

input num1, num2, num3 separate with , :2,4,1
el numero mayor es  4
 el numero menor es  1
el promedio es :  2.3333333333333335

##Exercise 3 : array

In [ ]:
miLista = []

miLista